<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id=“LCDS-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LCDS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby=“Lcds-link">
                <a href="" class="dropdown-item">Apple LCDs</a>
                <a href="" class="dropdown-item">Samsung LCDs</a>
                <a href="" class="dropdown-item">Other LCDs</a>
                <a href="" class="dropdown-item">All LCDs</a>
            </div>
        </li>
<li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id=“Parts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Parts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby=“Parts-link">
                <a href="" class="dropdown-item">Batteries</a>
                <a href="" class="dropdown-item">Back Camera</a>
                <a href="" class="dropdown-item">Front Camera</a>
                <a href="" class="dropdown-item">Charging ports & Flex</a> 
                <a href="" class="dropdown-item">Lcd Main Flex</a>  
                <a href="" class="dropdown-item">Home Button</a>  
                <a href="" class="dropdown-item">Power/Volume Flex</a>
                <a href="" class="dropdown-item">Back Camera Lens</a> 
                <a href="" class="dropdown-item">Sim Tray</a>
                <a href="" class="dropdown-item">Ear/Loud Speaker</a>
                <a href="" class="dropdown-item">All Parts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id=“Parts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby=“Accessories-link">
                <a href="" class="dropdown-item">Tempered Glass</a>
                <a href="" class="dropdown-item">Data Cables</a>
                <a href="" class="dropdown-item">Power Adapters</a>
                <a href="" class="dropdown-item">Audio</a> 
                <a href="" class="dropdown-item">Car Accessories</a>  
                <a href="" class="dropdown-item">Power Banks</a>  
                <a href="" class="dropdown-item">Other Accessories</a>
                 
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id=“Parts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Cases & Covers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby=“Cases & Covers-link">
                <a href="" class="dropdown-item">iPhones Cases & covers</a>
                <a href="" class="dropdown-item">Samsung Galaxy Cases  & Covers </a>
                <a href="" class="dropdown-item">Original Anti Burst Case</a>
                <a href="" class="dropdown-item">Clear TPU Gel Cases</a> 
                <a href="" class="dropdown-item">Black GEL TPU Cases</a>  
                <a href="" class="dropdown-item">Book Cases Cases</a>  
                <a href="" class="dropdown-item">MagSafe  Clear Cases </a> 
                <a href="" class="dropdown-item">Ring Armor Cases </a>     
                <a href="" class="dropdown-item">Kids Cases</a>
                <a href="" class="dropdown-item">Tap Leather Cases</a>
                <a href="" class="dropdown-item">Other Cases</a> 
                <a href="" class="dropdown-item">All Cases & Covers</a>                 
                               
            </div>
        </li>

 <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>