<script>
    // Update quantity on click
    $('.update-link').click(function(e) {
        e.preventDefault();
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-link').click(function(e) {
        e.preventDefault();
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        
        var data = {'csrfmiddlewaretoken': csrfToken};
        
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    });

    // Quantity increment/decrement functionality
    $('.qty_input').each(function() {
        var item_id = $(this).data('item_id');
        var quantityInput = $('#id_qty_' + item_id);

        $('#increment-qty_' + item_id).click(function(e) {
            e.preventDefault();
            var currentQuantity = parseInt(quantityInput.val());
            if (currentQuantity < 99) { // Max quantity
                quantityInput.val(currentQuantity + 1);
            }
        });

        $('#decrement-qty_' + item_id).click(function(e) {
            e.preventDefault();
            var currentQuantity = parseInt(quantityInput.val());
            if (currentQuantity > 1) { // Min quantity
                quantityInput.val(currentQuantity - 1);
            }
        });
    });
</script>
